/* navbar */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
}

/* end navbar */

/* login */

.login {
    position: fixed;
    width: 50%;
    height: 72%;
    background-color: white;
    z-index: 999;
    padding: 10px 30px;
    top: 10px;
    left: 25%;
    border-radius: 5px 5px 0 0;
}

.login h3 {
    margin-bottom: 20px;
}

.login .form-switch {
    margin-bottom: 20px;
}

.captcha input {
    width: 40%;
}

.login .btn {
    margin-right: 10px;
}

.link-reg {
    position: fixed;
    width: 50%;
    height: 22%;
    background-color: white;
    left: 25%;
    bottom: 20px;
    z-index: 999;
    padding: 10px 30px;
    border-radius: 0 0 5px 5px;
}

.btn-create {
    align-self: center;
}

.close {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.692);
    right: -30px;
    top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 0 3px 3px 0;
}

.close span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: rgb(211, 14, 14);
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.close span:nth-child(2) {
    transform-origin: 100%;
    transform: rotate(-45deg) translate(-4px, -1px);
}

.close span:last-child {
    transform-origin: 0;
    transform: rotate(45deg) translate(3px, -4px);
}

.close input {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

.bg-transparan {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.display-none {
    display: none;
}
/* end login */

/* jumbotron */
.jumbotron {
    height: 500px;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 7%;
}
/* end jumbotron */

/* container */

h6 {
    text-align: center;
}

.spasi {
    margin-bottom: 500px;
}

#sk {
    margin-top: 100px;
}

#jv,
#sk {
    color: seagreen;
}

hr {
    width: 150px;
    border-top: 3px solid green;
    margin: 10px auto 10px;
}

/* end container */

/* profile */

.containerProfile {
    background-color: whitesmoke;
}

h4 {
    color: seagreen;
    text-shadow: 1px 1px 1px rgba(93, 223, 255, 0.4);
}

.photo {
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    /* border-bottom-right-radius: 50%; */
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}

.sosprof {
    display: none;
    justify-content: center;
    width: 70%;
    margin: auto;
    padding: 7px;
    background-color: rgba(12, 2, 102, 0.466);
    border-radius: 30px;
    position: relative;
}

.sosprof img {
    height: 90%;
    margin-left: 5px;
    margin-right: 5px;
}

.profile h6 {
    font-size: 15px;
    color: teal;
}

.profile h5 {
    margin-top: 15px;
    text-decoration: underline;
}

.profile p {
    line-height: 5px;
    font-size: 14px;
    color: darkred;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.profile {
    width: 20%;
    padding: 10px;
    margin: 15px;
}

.photo img {
    width: 100%;
}

.profile1 {
    display: flex;
    justify-content: center;
}

.profile2 {
    display: flex;
    justify-content: center;
}

.container2 {
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile2 .profile {
    width: 40%;
}

.containerProfile div {
    text-align: center;
}

.profile3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profile3 .profile {
    width: 20%;
}
/* end profile */

/* footer */

footer {
    background-color: #122620;
    height: 250px;
    padding-top: 50px;
    color: whitesmoke;
}

footer img {
    display: block;
    margin: auto;
}

footer hr {
    width: 200px;
    border-top: 3px solid whitesmoke;
    margin: 10px auto 10px;
}

/* end footer */

/* break point */

/* tablet size */
@media screen and (max-width: 768px) {
    body {
        background-color: wheat;
    }
    .reg,
    .masuk {
        text-align: center;
    }

    .profile {
        width: 30%;
    }

    .profile2 .profile {
        width: 60%;
    }

    .profile3 .profile {
        width: 25%;
    }
}

/* handphone size */
@media screen and (max-width: 576px) {
    body {
        background-color: green;
    }
    .profile {
        width: 35%;
    }

    .profile2 .profile {
        width: 80%;
    }

    .profile3 .profile {
        width: 35%;
    }
}

/* end break point */
